set default=0

insmod tga
background_image /boot/grub/splash.tga

insmod all_video

# Menu Colours
set menu_color_normal=light-gray/black
set menu_color_highlight=yellow/dark-gray

submenu "Turkce" {

  set menu_color_normal=light-gray/black
  set menu_color_highlight=yellow/dark-gray

  menuentry "Pardus Calisan" {
    linux  /live/vmlinuz boot=live components timezone=Europe/Istanbul locales=tr_TR.UTF-8,en_US.UTF-8 keyboard-layouts=tr username=pardus hostname=pardus user-fullname=Pardus findiso=${iso_path} splash quiet --
    initrd  /live/initrd.img
  }
  menuentry "Pardus Calisan (guvenli kip)" {
    linux  /live/vmlinuz boot=live components timezone=Europe/Istanbul locales=tr_TR.UTF-8,en_US.UTF-8 keyboard-kayouts=tr username=pardus hostname=pardus user-fullname=Pardus memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal findiso=${iso_path}
    initrd  /live/initrd.img
  }

  menuentry "Kur" {
    linux  /install/vmlinuz vga=normal quiet
    initrd  /install/initrd.gz
  }
  menuentry "Grafik Arayuz ile Kur" {
    linux  /install/gtk/vmlinuz video=vesa:ywrap,mtrr vga=788 quiet
    initrd  /install/gtk/initrd.gz
  }

}

submenu "English" {
  
  set menu_color_normal=light-gray/black
  set menu_color_highlight=yellow/dark-gray

  menuentry "Pardus Live" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-layouts=tr username=pardus hostname=pardus user-fullname=Pardus findiso=${iso_path} splash quiet --
    initrd  /live/initrd.img
  }
  menuentry "Pardus Live (Safe Mode)" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-kayouts=tr username=pardus hostname=pardus user-fullname=Pardus memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal findiso=${iso_path}
    initrd  /live/initrd.img
  }
 
  menuentry "Install" {
    linux  /install/vmlinuz vga=normal quiet
    initrd  /install/initrd.gz
  }
  menuentry "Install with Graphical User Interface" {
    linux  /install/gtk/vmlinuz video=vesa:ywrap,mtrr vga=788 quiet
    initrd  /install/gtk/initrd.gz
  }
 
}
